<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CodUsuarioSEACSA" value="PARANAB"/>
    <add key="CodUsuarioRENTAS" value="ADMIN"/>

    <!--Produccion
     <add key="templates" value="C:\Jameson\Proyectos\Pruebas\WSKunturTesst\WSKunturTesst\Templates\" />-->
    <add key="templates" value="C:\Templates\" />
    <!-- subject: valor cotización -->
    <add key="sLAFT" value="Alerta - Cliente LAFT : {0} " />
    <!-- subject: valor póliza, product: 2  -->
    <add key="s212" value="Emisión Póliza {0} Nº {1} / {2} Nº {3} – Cliente: {4}" />
    <add key="s222" value="Inclusión Póliza {0} Nº {1} / {2} Nº {3} – Cliente: {4}" />
    <add key="s232" value="Exclusión Póliza {0} Nº {1} / {2} Nº {3} – Cliente: {4}" />
    <add key="s242" value="Renovación Póliza {0} Nº {1} / {2} Nº {3} – Cliente: {4}" />
    <add key="s252" value="Neteo Póliza {0} Nº {1} / {2} Nº {3} – Cliente: {4}" />
    <add key="s272" value="Anulación Póliza {0} Nº {1} / {2} Nº {3} – Cliente: {4}" />
    <add key="bLAFT" value="POL_08_LAFT.html" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--Desarrollo-->
    <!--<add key="UrlService" value="http://172.23.2.130/CELRENIEC/api/personas/ConsultaPorDNI/08715701/{0}/1" />-->
    <!--<add key="UrlService" value="http://172.23.2.130/CELRENIEC/api/personas/ConsultaPorDNI/40333311/{0}/1" />-->
    <add key="UrlService" value="http://172.23.2.130/CELRENIEC/api/personas/ConsultaPorDNI/40333311/{0}/123"/>

    <!--Produccion-->
    <!--<add key="UrlService" value="http://10.10.1.51/WSGClientes/Api/Cliente/GestionarCliente" />-->
    <!--Produccion-->
    <!--<add key="UrlService" value="http://10.10.1.51/WSGClientes/Api/Cliente/GestionarCliente" />-->
    <!--<add key="UrlServiceSUNAT" value="http://172.23.2.104/superservicio/wsuper/Consulta/Sunat?request={0}"/>-->
    <add key="UrlServiceSUNAT" value="http://172.23.2.104:90/wsuper/Consulta/Sunat?request={0}"/>

    <!--LAFT-->
    <!--Desarrollod
    <add key="LAFT" value="https://localhost:5001/Api/carga/activa/registros?documento={0}"/>
    <add key="RegistroLAFT" value="https://localhost:5001/api/registro/{0}"/>-->
    <add key="CorreoLAFT" value="djara@protectasecurity.pe|jdiaz@protectasecurity.pe|kimberly.mendoza@materiagris.pe"/>
    <!--<add key="CorreoLAFT" value="kevin.cordova@materiagris.pe|kimberly.mendoza@materiagris.pe"/>-->
    <!--Produccion-->
    <add key="LAFT" value="https://soatservicios.protectasecurity.pe/ApiLAFT/api/carga/activa/registros?documento={0}"/>
    <add key="RegistroLAFT" value="https://soatservicios.protectasecurity.pe/ApiLAFT/api/registro/{0}"/>
    <add key="UrlCE" value="http://172.23.2.103:9090/"/>
    <!--PARA ENVIO DE LOS CORREOS-->
    <add key="wstr_Presentacion" value="Estimado(a)"/>
    <add key="wstr_Body" value="Por medio de la presente le informamos el detalle de la carga masiva realizada."/>
    <add key="wstr_Body2" value="Se adjuntan los documentos, para mayor detalle."/>
    <add key="wstr_DisplayName" value="CARGA MASIVA - GESTOR DE CLIENTES"/>
    <add key="wstr_EmailAdmin" value="jdelacruz@materiagris.pe"/>
    <add key="wstr_Email" value="operaciones_sctr@protectasecurity.pe" />
    <add key="wstr_EmailPassw" value="0perac10nesSCTR$$_" />
    <add key="wstr_SmtpClient" value="smtp.gmail.com"/>
    <add key="RutaArchivo" value="C:/inetpub/wwwroot/WSGestorCliente/Data/"/>
    <add key="RutaLogError" value="C:/LogErrores"/>
    <add key="wstr_SmtpPort" value="587"/>
    <!--<add key="wstr_SmtpPort" value="465"/>-->
    <!--<add key="wstr_SmtpPort" value="25"/>-->
    <add key="wstr_Cronometro" value="15"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="operaciones_sctr@protectasecurity.pe">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" password="0perac10nesSCTR$$_" userName="operaciones_sctr@protectasecurity.pe" />
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>

    <!--Desarrollo
    <add name="cnxStringOracleTIMEP" connectionString="User Id=INSUDB;Password=prodvt09; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.3.245)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));"/>-->
    <!--Producción-->
    <add name="cnxStringOracleTIMEP" connectionString="User Id=INSUDB;Password=PROT$PROD; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.107)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = VISUALTIME7) ));" />
	<!--Calidad-->
	<!--<add name="cnxStringOracleTIMEP" connectionString="User Id=INSUDB;Password=vtcalidad30; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.144)(PORT = 1527)) ) (CONNECT_DATA =  (SERVICE_NAME = VISUALTIME7) ));" />-->
    <!--Desarrollo 12c
    <add name="cnxStringOracleTIMEP" connectionString="User Id=INSUDB;Password=devtime55; Data Source= (DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.145)(PORT = 1528)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME)  ));" />--> 

    <!--Desarrollo
    <add name="cnxStringOracleRentasV" connectionString="User Id=prorv_user;Password=protecta; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = PRTSRVD5.PROTECTA.COM.PE)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = RENTASV) ));"/>-->
    <!--Produccion-->
    <add name="cnxStringOracleRentasV" connectionString="User Id=prorv_user;Password=protecta; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = PRTSRV19.PROTECTA.COM.PE)(PORT = 1521)) ) (CONNECT_DATA =  (SERVICE_NAME = RENTASV) ));" />

    <!--Desarrollo-->
    <add name="cnxStringOracleLAFT"  connectionString="User Id=LAFT;Password=LAFT ;Data Source=(DESCRIPTION= (ADDRESS_LIST =  (ADDRESS = (PROTOCOL=TCP)(HOST=172.16.3.245)(PORT=1521)) ) (CONNECT_DATA =  (SERVICE_NAME=TIME) ));" />
  
    <!--Desarrollo 12C
    <add name="cnxStringOracle" connectionString="User Id=PROTECTA;Password=canaldev64; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.145)(PORT = 1528)) ) (CONNECT_DATA =  (SERVICE_NAME = PRTCANAL) ));" />
    <add name="cnxStringOracleTIMEP" connectionString="User Id=INSUDB;Password=devtime55; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.145)(PORT = 1528)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->

    <!--QA 12C
    <add name="cnxStringOracle" connectionString="User Id=PROTECTA;Password=canalqa01; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.144)(PORT = 1527)) ) (CONNECT_DATA =  (SERVICE_NAME = PRTCANAL) ));" />
    <add name="cnxStringOracleTIMEP" connectionString="User Id=INSUDB;Password=vtcalidad30; Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.23.2.144)(PORT = 1527)) ) (CONNECT_DATA =  (SERVICE_NAME = TIME) ));" />-->    
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>

    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
  <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
